@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* 기본 설정 */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

/* header 설정 */
.header .video {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* main_body 설정 */
/* logo */
.main_body .logo {
  text-align: center;
}
.main_body .logo a img {
  width: 25%;
}

/* menu */
.main_body .menu > ul {
  display: flex;
  justify-content: center;
}
.main_body .menu > ul > .img_bx {
  text-align: center;
  margin: 0 5%;
}
.main_body .menu > ul > .img_bx > a > img {
  width: 80%;
}

/* click 설정 */
.click {
}
/* click html 설정 */
.click .html {
  margin: 10% 0;
  display: flex;
}
.click .html .html01 {
  width: 70%;
}
.click .html .html01 img {
  width: 90%;
  height: 300px;
}

.click .html .img_html {
}
.click .html .img_html p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.3em;
}
.click .html .img_html .arrow_left {
  margin-top: 6%;
}

/* click css 설명 */
.click .css {
  display: flex;
  justify-content: space-between;
}
.click .css .img_css .arrow_right {
  display: flex;
  justify-content: flex-end;
}
.click .css .css01 {
  width: 70%;
  display: flex;
  justify-content: end;
}
.click .css .css01 img {
  width: 90%;
  height: 300px;
}
.click .css .img_css p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.3em;
}

/* click js 설정 */
.click .js {
  margin: 10% 0;
  display: flex;
}
.click .js .js01 {
  width: 70%;
}
.click .js .js01 img {
  width: 90%;
  height: 300px;
}

.click .js .img_js {
}
.click .js .img_js p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.3em;
}
.click .html .img_js .arrow_left {
  margin-top: 6%;
}
